<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <%= link_to "Plans", meal_plans_path, :class=>"navbar-brand" %> 
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to "Plans", meal_plans_path, :class=>"nav-link" %></li>
      <li class="nav-item"><%= link_to "Meals", meals_path, :class=>"nav-link" %></li>
      <li class="nav-item"><%= link_to "Recipe Books", recipe_books_path, :class=>"nav-link" %></li>
    </ul>
  </nav>
