<nav class="navbar navbar-expand-sm" style="background-color: #e31c3d">
  <%= link_to "The Red Book", meal_plans_path, class: 'navbar-brand', style: 'color: #ffffff' %>
  <ul class="navbar-nav mr-auto">
    <% [
      {text: "Plans", link: meal_plans_path},
      {text: "Meals", link: meals_path},
      {text: "Recipe Books", link: recipe_books_path}
    ].each do |item| %>
      <li class="nav-item"><%= link_to item[:text], item[:link], class: "nav-link", style: 'color: #ffffff' %></li>
    <% end %>
  </ul>
</nav>
